.card {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  margin: 20px auto;
  border-radius: 10px;
}
